/*************************** Default Css ***************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #000000;
}
/*************************** Navbar Css ***************************/

.nav { 
  background-color: #00000079;
  font-weight: 400;
  margin-bottom: 35px;
  width: 500px;
  height: 60px;
  border: 1px solid #fefefe;
  border-radius: 50px;
  padding: 10px;
}

.collapse {
  width: 100%;
  height: auto;
}
.nav-link {
  
  color: #fefefe;
  background: transparent;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  border-radius: 50px;
}
.nav-link:hover {
  background-image: radial-gradient(
    ellipse at 1% 98%, #053781ce, #AA47F8 
  );
  text-decoration: none;
  border-radius: 50px;
  color: #fefefe;
  cursor: pointer;
  transition: 20s step-start;
}
.nav-link:focus{
  color:  #fefefe;
  background: transparent;
} 

@media screen and (max-width: 768px) {
  .nav {
    width: 350px;
    height: 40px;
    font-size: 15px;
    margin-bottom: 15px;
  }
 
}



